<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="(loadStatus$ | async) === LOAD_STATUS.LOADED; else loading">
            <ng-container *ngIf="(users$ | async)?.length === 0">
              <tr>
                <td colspan="4">There's no users available.</td>
              </tr>
            </ng-container>
            <tr *ngFor="let user of users$ | async">
              <th scope="row">{{ user.id }}</th>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #loading>
  <tr style="height: 100px;">
    <th colspan="4">
      <app-spinner></app-spinner>
    </th>
  </tr>
</ng-template>
